.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 1152px;
  height: 2041px;
  position: relative;
}

.home .miyagi-andy-panda {
  position: absolute;
  width: 506px;
  top: 227px;
  left: 148px;
  font-family: "Heebo", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 44px;
  letter-spacing: 0;
  line-height: 60px;
}

.home .text-wrapper {
  position: absolute;
  width: 537px;
  top: 372px;
  left: 148px;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 26px;
  left: 816px;
}

.home .text-wrapper-2 {
  width: 83px;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-3 {
  width: 102px;
  top: 0;
  left: 65px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-4 {
  width: 121px;
  top: 0;
  left: 155px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 167px;
  top: 485px;
  left: 168px;
  font-family: "Heebo", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .ellipse {
  position: absolute;
  width: 276px;
  height: 268px;
  top: 228px;
  left: 816px;
  object-fit: cover;
}

.home .overlap-group {
  position: absolute;
  width: 1152px;
  height: 396px;
  top: 595px;
  left: 0;
  background-color: #edf7fa;
}

.home .overlap-2 {
  position: absolute;
  width: 894px;
  height: 288px;
  top: 69px;
  left: 148px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #bbe1fa40;
}

.home .overlap-3 {
  position: absolute;
  width: 571px;
  height: 226px;
  top: 23px;
  left: 19px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 374px;
  top: 0;
  left: 4px;
  font-family: "Heebo", Helvetica;
  font-weight: 700;
  color: black;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-7 {
  width: 239px;
  top: 42px;
  left: 161px;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .vector {
  position: absolute;
  width: 1px;
  height: 21px;
  top: 43px;
  left: 132px;
}

.home .text-wrapper-8 {
  width: 374px;
  top: 42px;
  left: 4px;
  font-size: 18px;
  position: absolute;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.home .p {
  width: 571px;
  top: 68px;
  left: 0;
  font-size: 16px;
  position: absolute;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.home .img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 53px;
  left: 656px;
  object-fit: cover;
}

.home .text-wrapper-9 {
  height: 60px;
  top: 6px;
  left: 148px;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  line-height: 60px;
  white-space: nowrap;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-10 {
  width: 208px;
  top: 26px;
  left: 796px;
  font-weight: 400;
  color: var(--secondry);
  font-size: 16px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .overlap-4 {
  position: absolute;
  width: 210px;
  height: 266px;
  top: 1005px;
  left: 148px;
}

.home .text-wrapper-11 {
  top: 0;
  left: 0;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  line-height: 60px;
  white-space: nowrap;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .image {
  width: 210px;
  height: 210px;
  top: 56px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.home .overlap-5 {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 1859px;
  left: 0;
}

.home .footer {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.home .linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 661px;
}

.home .group {
  position: absolute;
  width: 37px;
  height: 30px;
  top: 51px;
  left: 589px;
}

.home .insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 524px;
}

.home .image-2 {
  width: 30px;
  height: 30px;
  top: 51px;
  left: 457px;
  position: absolute;
  object-fit: cover;
}

.home .text-wrapper-12 {
  position: absolute;
  top: 1076px;
  left: 410px;
  font-family: "Heebo", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-6 {
  position: absolute;
  width: 462px;
  height: 102px;
  top: 1311px;
  left: 410px;
}

.home .overlap-7 {
  position: absolute;
  width: 136px;
  height: 102px;
  top: 0;
  left: 0;
}

.home .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Heebo", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle {
  top: 61px;
  position: absolute;
  width: 62px;
  height: 25px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-14 {
  top: 42px;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .text-wrapper-15 {
  width: 374px;
  top: 56px;
  left: 88px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .overlap-8 {
  position: absolute;
  width: 462px;
  height: 99px;
  top: 1559px;
  left: 410px;
}

.home .overlap-9 {
  position: absolute;
  width: 115px;
  height: 99px;
  top: 0;
  left: 0;
}

.home .rectangle-2 {
  top: 58px;
  position: absolute;
  width: 62px;
  height: 25px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-16 {
  top: 39px;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .text-wrapper-17 {
  width: 374px;
  top: 58px;
  left: 88px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-18 {
  width: 374px;
  top: 1136px;
  left: 498px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.home .text-wrapper-19 {
  width: 594px;
  top: 1187px;
  left: 410px;
  font-size: 16px;
  position: absolute;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.home .i-got-love {
  position: absolute;
  width: 594px;
  top: 1418px;
  left: 410px;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .span {
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: #21243d;
  font-size: 16px;
  letter-spacing: 0;
}

.home .text-wrapper-20 {
  text-decoration: underline;
}

.home .miyagi {
  position: absolute;
  width: 507px;
  top: 1663px;
  left: 410px;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-10 {
  position: absolute;
  width: 62px;
  height: 60px;
  top: 1122px;
  left: 410px;
}

.home .rectangle-3 {
  top: 19px;
  position: absolute;
  width: 62px;
  height: 25px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-21 {
  top: 0;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .vector-2 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1282px;
  left: 146px;
  object-fit: cover;
}

.home .vector-3 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1528px;
  left: 146px;
  object-fit: cover;
}

.home .vector-4 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1776px;
  left: 146px;
  object-fit: cover;
}

.home .image-3 {
  width: 210px;
  height: 210px;
  top: 1301px;
  left: 148px;
  position: absolute;
  object-fit: cover;
}

.home .image-4 {
  width: 200px;
  height: 200px;
  top: 1553px;
  left: 148px;
  position: absolute;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

#enlargeImage1{
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage2{
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage3{
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage4{
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}
