.work {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.work .div {
  background-color: #ffffff;
  width: 1152px;
  height: 1534px;
  position: relative;
}

.work .text-wrapper {
  width: 173px;
  top: 159px;
  left: 235px;
  font-weight: 900;
  color: var(--dark-color);
  font-size: 44px;
  line-height: 60px;
  white-space: nowrap;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .vector {
  top: 1022px;
  position: absolute;
  width: 682px;
  height: 1px;
  left: 235px;
  object-fit: cover;
}

.work .img {
  top: 1294px;
  position: absolute;
  width: 682px;
  height: 1px;
  left: 235px;
  object-fit: cover;
}

.work .overlap {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 1352px;
  left: 0;
}

.work .footer {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.work .linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 661px;
}

.work .group {
  position: absolute;
  width: 37px;
  height: 30px;
  top: 51px;
  left: 589px;
}

.work .insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 524px;
}

.work .image {
  width: 30px;
  height: 30px;
  top: 51px;
  left: 464px;
  position: absolute;
  object-fit: cover;
}

.work .text-wrapper-2 {
  top: 242px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline;
  position: absolute;
  left: 499px;
  font-family: "Heebo", Helvetica;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.work .overlap-group {
  position: absolute;
  width: 164px;
  height: 102px;
  top: 521px;
  left: 499px;
}

.work .overlap-2 {
  position: absolute;
  width: 130px;
  height: 102px;
  top: 0;
  left: 0;
}

.work .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Heebo", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.work .rectangle {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 61px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.work .text-wrapper-4 {
  top: 42px;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.work .text-wrapper-5 {
  top: 56px;
  left: 88px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .overlap-3 {
  position: absolute;
  width: 192px;
  height: 99px;
  top: 786px;
  left: 499px;
}

.work .overlap-4 {
  position: absolute;
  width: 192px;
  height: 99px;
  top: 0;
  left: 0;
}

.work .rectangle-2 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 58px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.work .text-wrapper-6 {
  top: 39px;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.work .text-wrapper-7 {
  top: 53px;
  left: 88px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .overlap-5 {
  position: absolute;
  width: 164px;
  height: 94px;
  top: 1053px;
  left: 499px;
}

.work .overlap-6 {
  position: absolute;
  width: 139px;
  height: 94px;
  top: 0;
  left: 0;
}

.work .rectangle-3 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 53px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.work .text-wrapper-8 {
  top: 34px;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.work .text-wrapper-9 {
  top: 48px;
  left: 88px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .text-wrapper-10 {
  top: 302px;
  left: 587px;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .p {
  width: 418px;
  top: 350px;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 499px;
  font-family: "Heebo", Helvetica;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.work .text-wrapper-11 {
  width: 418px;
  top: 624px;
  left: 499px;
  position: absolute;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.work .span-wrapper {
  width: 415px;
  top: 888px;
  left: 502px;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .span {
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: #21243d;
  font-size: 16px;
  letter-spacing: 0;
}

.work .element-mama-africa {
  width: 408px;
  top: 1150px;
  left: 502px;
  position: absolute;
  font-family: "Heebo", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.work .overlap-group-2 {
  position: absolute;
  width: 62px;
  height: 60px;
  top: 288px;
  left: 499px;
}

.work .rectangle-4 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 19px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.work .text-wrapper-12 {
  top: 0;
  position: absolute;
  left: 10px;
  font-family: "Heebo", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.work .vector-2 {
  top: 480px;
  position: absolute;
  width: 682px;
  height: 1px;
  left: 235px;
  object-fit: cover;
}

.work .vector-3 {
  top: 752px;
  position: absolute;
  width: 682px;
  height: 1px;
  left: 235px;
  object-fit: cover;
}

.work .rectangle-5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 788px;
  left: 235px;
  object-fit: cover;
}

.work .img-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 247px;
  left: 235px;
  object-fit: cover;
}

.work .image-2 {
  width: 200px;
  height: 200px;
  top: 517px;
  left: 235px;
  position: absolute;
  object-fit: cover;
}

.work .image-3 {
  width: 200px;
  height: 200px;
  top: 1059px;
  left: 235px;
  position: absolute;
  object-fit: cover;
}

.work .overlap-7 {
  position: absolute;
  width: 276px;
  height: 50px;
  top: 26px;
  left: 816px;
}

.work .text-wrapper-13 {
  width: 83px;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .text-wrapper-14 {
  width: 102px;
  top: 0;
  left: 65px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

.work .text-wrapper-15 {
  width: 121px;
  top: 0;
  left: 155px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  line-height: normal;
  position: absolute;
  font-family: "Heebo", Helvetica;
  letter-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

#enlargeImage1 {
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage2 {
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage3 {
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

#enlargeImage4 {
  width: 200px; /* Set the initial width of the image */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

.rectangle-5, .img-2, .image-2, .image-3 {
  width: 200px;
  transition: width 0.3s ease;
}